@charset "UTF-8";
@import url(../style-guide.css);

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

main {
    width: 100vw;
    height: 100vh;
}

div#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screen-login {
    height: 100vh;
}

div#form-container {
    display: content;
    width: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    gap: 16px;
    
}

#google-button {
    all: unset;
    display: flex;
    margin: 32px;
    justify-content: center;
    align-items: center;
    padding: 11px 8px;
    gap: 24px;
    white-space: nowrap;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0px 0px 1px 0px rgba(0, 0, 0, 0.08);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(0, 0, 0, 0.54);
}

.input-container,
.input-container form {
    display: flex;
    flex-direction: column;
    width: 517px;
    gap: 20px;
    position: relative;
}

h5 {
    color: var(--color-neutral-110);
    margin-bottom: 8px;
    text-align: left;
}


a {
    text-decoration: none;
    text-align: left;
    margin-top: 2px;
    color: var(--color-neutral-100) !important;
}

a:visited {
    color: var(--color-neutral-100);
}


.input-container label{
    width: auto;
    position: absolute;
    font-family: 'Roboto';
    color: #515255;
    background: #fff;
    left: 3%;
    transform: translateY(-100%);
    font-size: 12px;
    padding: 0 5px;

}



.email label{
    position: absolute;
    font-family: 'Roboto';
    color: #515255;
    top: 0;
    background: #fff;
    left: 12px;
    transform: translateY(-40%);
    font-size: 12px;

}

.senha label {
    position: absolute;
    font-family: 'Roboto';
    color: #515255;
    background: #fff;
    left: 12px;
    transform: translateY(-290%);
    font-size: 12px;
    width: 12%;
}


#olho {
    cursor: pointer;
    left: 92%;
    top: 102px;
    position: absolute;
    width: 20px;
    
 
}