
@import url(../style-guide.css);

:root {
  --cor-primaria: #111133;
  --cor-secundaria: #E6E9F2;
  --cor-terciaria: #fff ;
  --cor-quaternaria:#515255;

  /*---------fontes----------*/

  --font-primaria:'Roboto', sans-serif;
  
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
      height: 100vh;
}

.cabecalho{
    background-color: var(--cor-primaria);
    
    
 }
 
 .cabecalho__menu{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .cabecalho__menu__esquerda{
    display: flex ;
    gap: 100px; 
    align-items: center;
    height: 73px;
    width: 100%;
    padding: 16px 30px;   
 }


 .perfil{
   border-radius: 300px; 
   height: 40px; 
   width: 40px;
 }

 #cabecalho__menu__perfil{
   display: flex;
   gap: 10px;
   height:  41px; 
   width: 111px;
   
 }


 .cabecalho__menu__link{
    font-family: var(--font-primaria);
    font-size: 20px;
    font-weight: 500;
    color: #f6f6f6;
    text-decoration:none;
 }

 .cabecalho__menu__links{
   display: flex;
   gap: 24px;
 }

 .container{
   padding: 20px 2% 0 2%;
   margin: 0 auto;
 }

   .portfolio{
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  padding: 100px 0;
}
 
.meuperfil__perfil img{
   border-radius: 50%;
   width: 122px;
   height: 122px;
}

.meuperfil__info{
   font-family:var(--font-primaria); 
   display: flex;
   flex-direction: column;
   gap: 16px;
   
   
   
}
h2{
  margin: 0px;
  font-weight: 400;
  font-size: 24px;
  text-align: top;
}

.meuperfil__info span{
  display: inline-block;
  justify-content: space-between;
  
}


.meuperfil__add{
    margin-top: 10px;
}

 .portfolio__meuperfil{
   display: flex;
   align-items: center;
   width: 364px;
   gap: 24px;
   margin: 0 auto;

 }


 button {
   padding: 7px 20px;
   background-color: rgba(0, 0, 0, 0.12);
   color: var(--action-disabled, rgba(0, 0, 0, 0.38));
   border: none;
   cursor: pointer;
   opacity: 0.9;
   font-size: 1rem;
   margin-top: 8px;
   border-radius: 2px;
 }

 .portfolio_meusprojetos{
  display: flex;
    flex-direction: column;
    width: 620px;
    gap: 16px;
    font-family:var(--font-primaria);
    font-weight: 500; 
    width: auto 130px;
    height: auto 20px;
    
    
 }
 
 .portfolio_meusprojetos input{
    
    letter-spacing: 0.15px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    min-height: 24px;
    padding: 16px 0px;
    align-items: center;
    align-self: stretch;
    border: 1px solid #0000003B;
    padding-left: 12px;
    
    
 }

.portfolio_meusprojetos label{
  width: auto;
  position: absolute;
  font-family: var(--font-primaria);
  color: var(--cor-quaternaria);
  top: 100%;
  background: var(--cor-terciaria);
  left: 3%;
  transform: translateY(-50%);
  font-size: 12px;
  padding: 0 5px;
}
 
h6{
  color: var(--color-neutral-100);
  

}



#projetos-container {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 2%;


}

#projetos-container .card {
 width: 470px;
 height: 290px;
 background-color: var(--cor-secundaria);
 display: flex;
 justify-content: center;
 cursor: pointer;
 
}


.modal-container .card{
  width: 100%;
 height: 310px;
 background-color: var(--cor-secundaria);
 display: flex;
 justify-content: center;
 cursor: pointer;
 
}

#projetos-container .container__botao{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  
  /* margin: auto; */
  
}

.container__botao figure{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  
}

 
#projetos-container .container__botao p{
margin-bottom: 7px;
}




/* ------------------------------------------------ */







#home-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}


.modal {
  width: 1000px;
  max-width: 90%;
  margin: 50px auto; /* Centraliza o modal na tela */
  background-color: var(--cor-terciaria);
  padding: 30px;
  position: relative;
}


.close {
  cursor: pointer;
  font-size: 26px;
  position: absolute;
  top: 10px;
  left: 96%;
  color: var(--cor-quaternaria);
}


/* Evitar que o modal ultrapasse a tela */
.modal-container, .modal-container-2 {
  max-height: 70vh;
  overflow-y: auto;
}



.modal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  gap: 20px;
  height: 350px;
}

.user-infos__titulo h2{
  color: var(--color-neutral-110);
  font-family: var(--font-primaria);
  font-weight: 400;
}

.modal-container .titulo{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  width: 50%;
  height: 100%;
}

.user-infos{
  width: 50%;
  height: 100%;
  color: var(--color-neutral-110);
  font-family: var(--font-primaria);
  font-weight: 400;
}

  


.modal-container .user-infos p{
  margin-bottom: 16px;
 
}

.modal-container img {
  width: 40px;
  border-radius: 300px;
}



.titulo input {
  width: 88%;
  
  
  
}

.titulo textarea{
  font-size: 16px;
    font-style: normal;
    font-weight: 400;
    resize: none;
     height: 120px;
    letter-spacing: 0.15px;
    width: 87%;
    border-radius: 4px;
    display: flex;
    min-height: 24px;
    padding: 16px 0px;
    align-items: center;
    gap: 0px;
    align-self: stretch;
    border-color: rgba(0, 0, 0, 0.23);
    color: var(--color-neutral-110);
    padding: 16px 12px;
}

.modal-container .card__botao{
  font-family:var(--font-primaria);
  font-weight: 400;
  color: var(--color-neutral-110);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;

}



.call-to-actions{
  margin-top: 10px;
}


.call-to-actions #salvar{
  background-color: var(--color-secondary-100); 
  font-family:var(--font-primaria);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  margin-right: 10px;
  
}

.buttons { 
  margin-top: 10px;
  display: flex;
}


.buttons button{
  width: 120px;
  border-radius: 3px;
  
}

 
 

 



  

 